* {
	font-weight: 700;
}

body {
	background-color: rgb(31, 151, 172);
	align-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

section {
	background-color: white;
	padding: 20px;
	width: 350px;
	border-radius: 10px;
	margin: auto;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

select#select {
	height: 33px;
	width: 210px;
	text-align: left;
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
	margin: 5px;
}

#inputs {
	display: grid;
	gap: 20px;
	margin-bottom: 20px;
}

#inputs div + div {
	display: flex;
	gap: 15px;
	justify-content: space-between;
	max-width: calc(50% - 15px);
}

#inputs input {
	transform: scale(2);
}

div#notas {
	font-size: 18px;
	align-items: center;
	align-content: center;
}

button#limpar {
	background-color: rgb(252, 197, 205);
	margin-top: 10px;
	margin-left: 150px;
	height: 50px;
	width: fit-content;
	border-radius: 20px;
	font-style: italic;
	font-size: 15px;
	cursor: pointer;
	transition: 0.2s;
}

button#limpar:hover {
	background-color: rgb(230, 180, 185);
}

footer {
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}

.padrao {
	width: 85px;
	height: 60px;
	font-size: 20px;
	font-weight: 500;
	transition: 0.2s;
	cursor: pointer;
	border: solid lightskyblue 1px;
	border-radius: 10px;
	margin: 1px;
}
.padrao:hover {
	background: #ddd;
}

@media (max-width: 400px) {
	* {
		margin-left: 0;
		padding-left: 0;
		/*box-sizing: content-box;*/
	}
	body {
		scale: 85%;
		align-content: center;
		align-items: center;
	}

}
